<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title></title>

		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<script src="/scripts/map.js"></script>
	</head>

	<body class="d-flex flex-column vh-100">
		<%- include('../partials/nav') %>
		<main class="container mt-3">
			<%= success %> <%= error %> <%- body %>
		</main>

		<%- include('../partials/footer') %>

		<script src="/scripts/app.js"></script>
		<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
		<script
			async
			src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.MAPS_KEY%>&callback=initMap&libraries=&v=weekly"
		></script>
	</body>
</html>
