<% layout('/partials/boilerplate') %>

<h1>Site name: <%=site.name%></h1>
<h2>Location: <%= site.location %></h2>
<h2>Price: $<%= site.price %></h2>

<p>Description: <%= site.description%></p>
<br />
<p>
	<img src="<%=site.image%> " alt="" />
</p>

<footer>
	<a href="/sites/">Return to all sites</a>
	<a href="/sites/<%=site._id%>/edit">Edit this site</a>
</footer>
